PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/government_creator_awards
JWT_SECRET=supersecretjwtkey_creator_awards_2026
JWT_EXPIRES_IN=7d
FAST2SMS_API_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
NODE_ENV=development
